.prowc_empty_cart_wrap {
  display: flex;
  flex-direction: row;
}
.prowc_empty_cart_wrap .prowc_empty_cart_authorname {
  padding: 13px 0 5px 20px;
}
.prowc_empty_cart_wrap .prowc_empty_cart_desc {
  padding: 10px 0 13px 0px;
}
.prowc_empty_cart_wrap .prowc_empty_cart_desc a {
  margin-right: 5px;
}
.prowc_empty_cart_wrap .prowc_empty_cart_gravatar img {
  height: 80px;
  width: 80px;
}
.prowc_empty_cart_button_prowc_notice_review_yes {
	display: block;
	padding-bottom: 20px;
}
.prowc_empty_cart_button_prowc_notice_review_yes .notice_texts {
  padding-bottom: 7px;
}

/* rating admin style*/
div.starts-main-div .stars {
  background: url(../img/admin-rating-ecb.png) repeat-x 0 0;
  width: 150px;
  margin-left: 0;
  margin-bottom: 11px;
}
.ie7 div.starts-main-div .stars {
  *zoom: 1;
}
div.starts-main-div .stars:before,
div.starts-main-div .stars:after {
  display: table;
  content: "";
}
div.starts-main-div .stars:after {
  clear: both;
}
div.starts-main-div .stars input[type="radio"] {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
div.starts-main-div .stars input[type="radio"].star-5:checked ~ span {
  width: 100%;
}
div.starts-main-div .stars input[type="radio"].star-4:checked ~ span {
  width: 80%;
}
div.starts-main-div .stars input[type="radio"].star-3:checked ~ span {
  width: 60%;
}
div.starts-main-div .stars input[type="radio"].star-2:checked ~ span {
  width: 40%;
}
div.starts-main-div .stars input[type="radio"].star-1:checked ~ span {
  width: 20%;
}
div.starts-main-div .stars label {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0!important;
  padding: 0!important;
  text-indent: -999em;
  float: left;
  position: relative;
  z-index: 10;
  background: transparent!important;
  cursor: pointer;
}
div.starts-main-div .stars label:hover ~ span {
  background-position: 0 -30px;
}
div.starts-main-div .stars label.star-5:hover ~ span {
  width: 100% !important;
}
div.starts-main-div .stars label.star-4:hover ~ span {
  width: 80% !important;
}
div.starts-main-div .stars label.star-3:hover ~ span {
  width: 60% !important;
}
div.starts-main-div .stars label.star-2:hover ~ span {
  width: 40% !important;
}
div.starts-main-div .stars label.star-1:hover ~ span {
  width: 20% !important;
}
div.starts-main-div .stars span {
  display: block;
  width: 0;
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  background: url(../img/admin-rating-ecb.png) repeat-x 0 -60px;
  -webkit-transition: -webkit-width 0.3s;
  -moz-transition: -moz-width 0.3s;
  -ms-transition: -ms-width 0.3s;
  -o-transition: -o-width 0.3s;
  transition: width 0.3s;
}
div.starts-main-div .notice_button {
  padding-bottom: 10px;
}
